@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background:none;
}

body {
  background-color: rgb(189, 183, 241);
  padding: 20px;
  margin: 0;
  font-family:"Poppins", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pageTitle {
  color: white;
  text-shadow: 2.5px 2.5px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: sans-serif;
}
.pageSub {
  margin-bottom: 10px;
  color: rgb(153, 148, 196);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  font-weight: bold;
  font-family: sans-serif;
}

ul.header {
  border-radius: 5px;
  background-color: #111;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 15px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  /* border-radius: 5px; */
}
.content {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.input-box {
  border: none;
  width: 100%;
}

.active {
  background-color: #ffffff3a;
  box-shadow: rgb(37, 37, 37) 1px 1px 6px 0px inset;
}

.input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: left;
  resize: none;
  /* border: none;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  padding-right: 0px;
  margin-bottom: 5px;
  margin-right: auto;
  display: flex; */
}

.button {
  display: inline-block;
  margin-top: 12px;
  width: 100%;
  outline: none;
  border: none;
  background: #3e2093;
  border-radius: 6px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.button input {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:active {
  background: #351b7a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#price {
width:93%;
}

form i {
  display: inline-block;
  text-align: left;
  width:7%;
  font-style: normal;
  font-weight: bold;
  color:grey;

}
