body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.input-box {
  border:none;
  width:100%;
}

.active {
  background-color: #0099FF;
}

.input-box input {
  border:none;
  border-radius: 5px;
  width:100%;
  background-color: rgb(236, 236, 236);
  padding:10px;
  padding-right: 0px;
  margin-bottom: 5px;
  margin-right: auto;
  display:flex;
}